
/*==================================================  
Font import
==================================================*/
/* @import url('https://fonts.googleapis.com/css2?family=Fraunces:wght@500;700&family=Inter:wght@400;600&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fraunces:wght@300;500;700&family=Inter:wght@400;600;700&display=swap');

/*==================================================  
CSS Reset
==================================================*/
*, *::before, *::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root{
    /*================================================== 
    General colors
    ==================================================*/
    --color-accent: #bb8431;
    --color-accent-hover: #83591b;
    --color-accent-secondary: #ffffff;
    --color-accent-terciary: #ffffff;

    --color-faded: #444444;

    --color-bg1: #0e0e0e;
    --color-bg2: #eeeeee;


    /*================================================== 
    Buttons styles
    ==================================================*/
    --color-button-primary: #ffffff;
    --color-button-primary-hover: #ffffff;
    
    --color-button-secondary: #ffffff;
    --color-button-secondary-hover: #ffffff;


    /*================================================== 
    Fonts styles
    ==================================================*/
    --font-display: 'Alfa Slab One', Georgia, serif;
    --font-body: 'Inter', system-ui, sans-serif;
    --font-color-title: #d6bf9d;
    --font-color-body-light: #fdfdfd;
    --font-color-body-dark: #1d1d1d;

    /*================================================== 
    Spacing
    ==================================================*/
    --gap-small: 16px;
    --gap-medium: 30px;
    --gap-big: 50px;

    /* use this for padding and marging */
    --spacing-small:30px;
    --spacing-medium:50px;
    --spacing-big:80px;
}

body{
    background-color: var(--color-bg1);
    text-align: center;
    overflow-x: hidden;
}

header{
    background: linear-gradient(rgba(0,0,0, 0.7), rgba(0,0,0, 0.7)), url("/images/hero.jpg");
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    min-height: 150px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: var(--spacing-medium);
}

h1, h2, h3, h4, h5, h6{
    color: var(--font-color-body-light);
    font-family: var(--font-display);
    text-transform: uppercase;
    padding: 0.4em;
    letter-spacing: 0.7rem;
}


h1{
    /* font-size: 5em; */
    font-size: clamp(3rem 50vw 7rem);
    line-height: 0.9em;
    color: var(--color-accent);
}

h2{
    /* font-size: 7rem; */
    font-size: clamp(3rem 50vw 7rem);
    line-height: 0.9em;
    color: var(--color-accent);
    letter-spacing: 0.5rem;
}

h3{
    font-size: 3rem;
    letter-spacing: 0.5rem;
}

h4, h5, h6{
    letter-spacing: 0.3rem;

}

p{
    font-family: var(--font-body);
    font-size: 18px;
    color: var(--font-color-body-light);
}

span{
    color: var(--color-accent);
}

main, section{
    width: 100%;
}

section{
    padding-bottom: var(--spacing-big);
    padding-top: var(--spacing-big);
}

.no-padding-section{
    padding: 0;
}

.dark{
    color: var(--font-color-body-dark);
}

.highlight{
    background-color: var(--color-accent);
    padding: var(--spacing-small);
}

/*================================================== 
CUSTOM CLASSES
==================================================*/

.hero{
    background: linear-gradient(rgba(0,0,0, 0.7), rgba(0,0,0, 0.7)), url("../images/hero.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 100vh;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    text-align: center;
}

.container{
    width: 1600px;
    margin: auto;
    padding: var(--spacing-big) var(--spacing-small);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* gap: var(--spacing-big); */
}

.hero .container{
    gap: var(--spacing-big);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.hero .container img{
    /* width: 150px; */
    max-width: 150px;
    height: auto;
}

.hero-title{
    /* font-size: 8em; */
    font-size: clamp(3rem, 7vw, 7rem);

}

.hero .container img{
    width: 350px;
}

.subtitle-container{
    max-width: 800px;
    margin: auto;
}

.section-secondary{
    background-color: var(--color-bg2);
}

/* SEPARATOR styles*/

.separator-slot, .separator-slot-dark{
    padding-bottom: var(--spacing-small);
}

.separator{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: var(--gap-small);
    /* padding: var(--spacing-small); */
}

.separator-edge{
    width: 100px;
    height: 1px;
    background-color: var(--font-color-body-light);
}

.separator-img {
    color: var(--font-color-body-light);
    padding: 0 1rem;
}
.separator-img-dark {
    color: var(--font-color-body-dark);
    padding: 0 1rem;
}
.separator-edge-dark{
    width: 100px;
    height: 1px;
    background-color: var(--font-color-body-dark);
}


.separator-img img {
    width: 70px;
}

/*================================================== 
HOME - ABOUT SECTION STYLE
==================================================*/

.about-section{
    background: linear-gradient(rgba(0,0,0, 0.8), rgba(0,0,0, 0.8)), url("/images/about-bg.jpg");
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}

.box-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    /* max-width: 800px; */
    margin: var(--spacing-big) auto;
    gap: var(--gap-big) ;
}

.small-separator-edge{
    width: 100px;
    height: 1px;
    background-color: var(--color-accent);
}

.box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: var(--gap-small);
    /* flex: 1; */
    min-width: 300px;
}

/*================================================== 
HOME - SERVICES SECTION STYLE
==================================================*/
.services-container{
    display: flex;
    flex-direction: row;
    justify-content:space-around;
    align-items: stretch;
    gap: var(--gap-big);
    margin-top: var(--spacing-big);
    margin-bottom: var(--spacing-big);
}
.services-box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex: 1 1 0;
    min-width: 0;
    gap: var(--spacing-small);

    align-items: center;
    min-height: 50vh;
    background-color: #bb8431;
    padding: var(--spacing-small);
    transition: all 0.3s ease;
    cursor: pointer;
}

.services-box:hover{
    transform: scale(1.1);
    transition: all 0.3s ease;
}

.services-box-1{
    background: linear-gradient(rgba(0,0,0, 0.7), rgba(0,0,0, 0.7)), url("../images/service-1.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.services-box-2{
    background: linear-gradient(rgba(0,0,0, 0.7), rgba(0,0,0, 0.7)), url("../images/service-2.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.services-box-3{
    background: linear-gradient(rgba(0,0,0, 0.7), rgba(0,0,0, 0.7)), url("../images/service-3.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

/*================================================== 
====================================================
PORTFOLIO PAGE - PORTFOLIO SECTION STYLE
====================================================
==================================================*/

/*================================================== 
WEBSITE - GRID GALLERY STYLE
==================================================*/
.grid-portfolio{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    width: 100%;
}

.grid-portfolio-img,
.grid-portfolio-img2 {
    background-size: cover;
    background-position: center;
    min-height: 40vh;
    position: relative;
    z-index: 1;
    transform-origin: center center;
    transition: transform 0.5s ease-in-out, z-index 0s linear 0s;
}

.grid-portfolio-img2 {
    grid-row: span 2;
}

.grid-portfolio-img:hover{
    transform: scale(1.8);
    z-index: 100;
    cursor: pointer;
    border: 1px solid var(--color-accent);
    border-radius: 12px;
}

 .grid-portfolio-img2:hover{
    transform: scale(1.5);
    z-index: 100;
    cursor: pointer;
    border: 1px solid var(--color-accent);
    border-radius: 12px;
 }

.quote{
    padding: var(--spacing-big);
    background: linear-gradient(rgba(0,0,0, 0.9), rgba(0,0,0, 0.95)),url("../images/port_0.jpg");
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}

/*================================================== 
HOME - CONTACT SECTION STYLE
==================================================*/

/*================================================== 
BUTTONS
==================================================*/

.button{
    padding: var(--spacing-small);
    background-color: var(--color-accent);
    cursor: pointer;
    border: none;
    min-width: 250px;
    border-radius: 8px;
    transition: all 0.3s;
    color: var(--color-button-primary);
    font-size: var(--font-body);
    font-weight: 700;
}

.button:hover{
    background-color: var(--color-accent-hover);
}

/*================================================== 
WEBSITE - RESPONSIVENESS
==================================================*/
